@{
    Layout = null;
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTask</title>
</head>
<body>
    <ul>
        <li><a href="/Employees">Employees</a></li>
        <li><a href="/EmployeeTasks">Tasks</a></li>
    </ul>
   <div>
        <h3>Отчет</h3>
       <table class="table">
           <tr>
               <th>
                   Task
               </th>
               <th>
                   User
               </th>
               <th>
                   Duration
               </th>
           </tr>
           
               @foreach (var a in (IEnumerable<TestTask.Models.SpentTime>)ViewBag.SpentTimes)
                   {
                        <tr>

                           <td>
                               @a.EmployeeTask
                           </td>

                           <td>
                               @a.Employee
                           </td>

                           <td>
                               @a.Duration
                           </td>

                        </tr>
                   }
       </table>
    </div>
</body>
</html>