@using TestTask.Models
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTask</title>
</head>
<body>
    <ul>
        <li><h3><a href="/Employees">Employees</a></h3></li>
        <li><h3><a href="/EmployeeTasks">Tasks</a></h3></li>
    </ul>
   <div>
        <h3>Отчет</h3>
       <table class="table">
           <tr>
               <th>
                   Task
               </th>
               <th>
                   User
               </th>
               <th>
                   Duration
               </th>
           </tr>
           
               @foreach (var a in (IEnumerable<ReportModel>)ViewBag.Data)
                   {
                        <tr>

                           <td>
                               @a.TaskName
                           </td>

                           <td>
                               @a.EmployeeName
                           </td>

                           <td>
                               @a.Duration
                           </td>

                        </tr>
                   }
       </table>
    </div>
</body>
</html>